In [163]:
## Import necessary modules
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.dates import AutoDateFormatter, AutoDateLocator, WeekdayLocator, MonthLocator, DateFormatter
from matplotlib.dates import MO, TU, WE, TH, FR, SA, SU
from matplotlib.ticker import AutoMinorLocator
import numpy as np
import datetime, calendar
%matplotlib gtk

## Import data frome pickle generated from hotline_daily.py
data = pd.read_pickle('pickle_hotline_0904.pkl')

In [164]:
def rearrange(df):
    index_filter=df.loc[['tix']]
    index_filter.head(3)

    hourse=range(0,25)
    mh=index_filter[hourse]
    oldcols=mh.columns.values.tolist()
    newcols=mh.loc['tix'].drop_duplicates().loc['tix'].values.tolist()
    cols=dict(zip(oldcols,newcols))

    mhnew=df.rename(columns=cols).drop('tix')
    mhnew=mhnew.reset_index().set_index(['xlday']).rename(columns={'index':'status'})
    
    return mhnew

In [166]:
ndata=rearrange(data)
ndata.head()

,status,month,year,00:00-00:30,00:30-01:30,01:30-02:30,02:30-03:30,03:30-04:30,04:30-05:30,05:30-06:30,...,19:30-20:30,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00,summa,day,date,week,weekday
xlday,,,,,,,,,,,,,,,,,,,,,
42688.0,angekommen,11,2016,0,0,0,0,0,0,1,...,0,0,1,0,0,321,14,2016-11-14,46,Mon
42688.0,verbunden,11,2016,0,0,0,0,0,0,0,...,0,0,0,0,0,221,14,2016-11-14,46,Mon
42688.0,verloren,11,2016,0,0,0,0,0,0,1,...,0,0,1,0,0,100,14,2016-11-14,46,Mon
42688.0,servicelevel,11,2016,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,0,NaN,NaN,0.688474,14,2016-11-14,46,Mon
42689.0,angekommen,11,2016,0,0,0,0,0,0,1,...,1,0,0,0,0,152,15,2016-11-15,46,Tue

In [193]:
ndata.loc[ndata['week'].isin([5])]

,status,month,year,00:00-00:30,00:30-01:30,01:30-02:30,02:30-03:30,03:30-04:30,04:30-05:30,05:30-06:30,...,19:30-20:30,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00,summa,day,date,week,weekday
xlday,,,,,,,,,,,,,,,,,,,,,
42765.0,angekommen,1,2017,0,0,0,0,0,0,0,...,1,0,0,0,0,62,30,2017-01-30,5,Mon
42765.0,verbunden,1,2017,0,0,0,0,0,0,0,...,1,0,0,0,0,45,30,2017-01-30,5,Mon
42765.0,verloren,1,2017,0,0,0,0,0,0,0,...,0,0,0,0,0,17,30,2017-01-30,5,Mon
42765.0,servicelevel,1,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,NaN,0.725806,30,2017-01-30,5,Mon
42766.0,angekommen,1,2017,0,0,0,0,0,0,0,...,0,0,2,0,0,133,31,2017-01-31,5,Tue
42766.0,verbunden,1,2017,0,0,0,0,0,0,0,...,0,0,1,0,0,110,31,2017-01-31,5,Tue
42766.0,verloren,1,2017,0,0,0,0,0,0,0,...,0,0,1,0,0,23,31,2017-01-31,5,Tue
42766.0,servicelevel,1,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.5,NaN,NaN,0.827068,31,2017-01-31,5,Tue
42767.0,angekommen,2,2017,0,0,0,0,0,0,0,...,1,0,0,0,0,87,1,2017-02-01,5,Wed
42767.0,verbunden,2,2017,0,0,0,0,0,0,0,...,1,0,0,0,0,71,1,2017-02-01,5,Wed
42767.0,verloren,2,2017,0,0,0,0,0,0,0,...,0,0,0,0,0,16,1,2017-02-01,5,Wed
42767.0,servicelevel,2,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,NaN,0.816092,1,2017-02-01,5,Wed
42768.0,angekommen,2,2017,1,0,0,0,0,0,0,...,1,1,0,0,0,104,2,2017-02-02,5,Thu
42768.0,verbunden,2,2017,0,0,0,0,0,0,0,...,1,1,0,0,0,97,2,2017-02-02,5,Thu
42768.0,verloren,2,2017,1,0,0,0,0,0,0,...,0,0,0,0,0,7,2,2017-02-02,5,Thu
42768.0,servicelevel,2,2017,0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,NaN,NaN,NaN,0.932692,2,2017-02-02,5,Thu
42769.0,angekommen,2,2017,0,0,0,0,0,0,2,...,1,0,0,0,0,119,3,2017-02-03,5,Fri
42769.0,verbunden,2,2017,0,0,0,0,0,0,2,...,1,0,0,0,0,116,3,2017-02-03,5,Fri
42769.0,verloren,2,2017,0,0,0,0,0,0,0,...,0,0,0,0,0,3,3,2017-02-03,5,Fri
42769.0,servicelevel,2,2017,NaN,NaN,NaN,NaN,NaN,NaN,1,...,1,NaN,NaN,NaN,NaN,0.97479,3,2017-02-03,5,Fri
42770.0,angekommen,2,2017,0,0,0,0,0,0,0,...,0,0,0,0,0,37,4,2017-02-04,5,Sat
42770.0,verbunden,2,2017,0,0,0,0,0,0,0,...,0,0,0,0,0,35,4,2017-02-04,5,Sat
42770.0,verloren,2,2017,0,0,0,0,0,0,0,...,0,0,0,0,0,2,4,2017-02-04,5,Sat
42770.0,servicelevel,2,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.945946,4,2017-02-04,5,Sat
42771.0,angekommen,2,2017,0,0,0,0,0,0,0,...,0,0,1,0,0,6,5,2017-02-05,5,Sun
42771.0,verbunden,2,2017,0,0,0,0,0,0,0,...,0,0,1,0,0,6,5,2017-02-05,5,Sun
42771.0,verloren,2,2017,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,2017-02-05,5,Sun
42771.0,servicelevel,2,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,1,5,2017-02-05,5,Sun